
section{
  margin-bottom: 50px;
}

.sing-in{
    background-color: rgba(73, 201, 126, 0.952);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 9px 25px;
    cursor: pointer;
}
.navbar{
    margin-bottom: 20px;
}

.top{
    background-color:#F0FFF0;
    widows: 1440px;
    height: 567px;
    padding-top:10px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 40px;
   
 
}
.orange{
    color: tomato;
}
.highlight{
    color:rgba(73, 201, 126, 0.952) ;
}
h1{
    font-weight: bold;
    font-size: 60px;
}
.upper{
    font-weight: bold;
    color: grey
}
.nav-item{
    font-weight: bold;
    color: black;

}

.logo-1, .logo-2, .logo-3, .logo-4{
    height: 240px;
    width: 250px;
    text-align: center;
    padding: 30px 10px;  
    
}

.row img{
    height: 60px;
    width: 50px;
}

.logo-1,.logo-3,.logo-4{
    background-color: #F8FFFB;
    border-radius: 15px;
}
.logo-2{
background: #FFFFFF;
box-shadow: 20px 30px 60px rgba(0, 0, 0, 0.1);
border-radius: 15px;
}

h4{
margin-top: 20px;
font-weight: bold;
color: rgb(99, 95, 95);
}
.card{
    border: none;
    box-shadow: 20px 20px 20px lightgrey;
    border-radius: 15px;
    height: 450px;
    width: 300px;
    
}
.calender, .people {
    height: 20px;
    width: 20px;
}

.card-footer{
    background-color: white;
    border: none;
    height: 42px;
    float: left;
    margin-bottom: 20px;


}

.card-img-top{
    padding: 15px 15px;
    border-radius: 10px;
    
}
p{
    font-size: 15px;
    font-weight: 700;
    margin-left: 5px;
    color: gray;
}
.third{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 700;
    color: rgb(74, 74, 97);
}
#man{
    height: 150px;
    width: 150px;
}

.forth{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    font-weight: 700;
    font-size: 40px;
}
.testimonial{
    font-size: 17px;
    font-weight: 500;
    color: black;
    text-align: justify;
    padding-left: 10px;
}
.fifth{
    background-color: rgb(53, 53, 61);
    padding: 40px 40px;
    
}
.million{
    text-align: justify;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 30px;
    font-size: 17px;
    color: white;
}
h6{
    font-size: 20px;
    padding-left: 4px;
    color: white;
}
.fifth p{
    color: white;
}
.copyright{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.img-thumbnail{
    position: absolute;
    background-color:#F0FFF0;
    border: none;
}



